<h1 class="text-primary">New Proponent</h1>

<%= render "form", proponent: @proponent %>

<br>

<div>
  <div class="text-center">
    <a href="/proponents" class="btn btn-secondary">Back to Proponents</a>
  </div>
</div>
